@page "/"

<PageTitle>@Title</PageTitle>

<h1>Make Inboxes Great Again!</h1>

<p>Email Junk-Food</p>

<SurveyPrompt Title="@Title"/>

@code
{
        private const string Title = "Blazor Automated Email Marketing System";
}