.vs/
Blazor-Automated-Email-Marketing-System/bin/
Blazor-Automated-Email-Marketing-System/obj/
Blazor-Automated-Email-Marketing-System/Migrations/
Blazor-Automated-Email-Marketing-System/Data/database.db
Blazor-Automated-Email-Marketing-System/Database/
Blazor-Automated-Email-Marketing-System.Tests/bin/
Blazor-Automated-Email-Marketing-System.Tests/obj/
