@page "/Features/05"
@using Blazor_Automated_Email_Marketing_System.Services
@using Blazor_Automated_Email_Marketing_System.Models

<h3>Feature 5</h3>

<h4>Mobile Friendliness</h4>

<p>This feature was not required to exercise the GitHub Actions and Azure DevOps pipelines.</p>
<p>Links with folder icons contain implementations.</p>

@code {
    
}