@page "/Features/06"

<h3>Feature 6</h3>

<h4>Dynamic Content</h4>

<p>This feature was not required to exercise the GitHub Actions and Azure DevOps pipelines.</p>
<p>Links with folder icons contain implementations.</p>

@code {

}