@page "/Features/09"

<h3>Feature 9</h3>

<h4>Integrated Drag-and-Drop Email Editor</h4>

<p>This feature was not required to exercise the GitHub Actions and Azure DevOps pipelines.</p>
<p>Links with folder icons contain implementations.</p>

@code {

}