User
@page "/Features/1"

@inject NavigationManager NavigationManager

<h3>Feature 1 -> Email Campaign Automation</h3>

<p>
    2. Personalization<br />
    3. Segmentation<br />
    4. Analytics<br />
    5. Mobile Friendliness<br />
    6. Dynamic Content<br />
    7. Integrations<br />
    8. A/B Testing<br />
    9. Integrated Drag-and-Drop Email Editor<br />
    10. Contact List Management System
</p>

@code {

}