@using System.Timers
@inherits LayoutComponentBase

<PageTitle>@Title</PageTitle>

<div class="page">

    <main>

        <RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'; height: 100%;">
            <RadzenHeader>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10">
                    <RadzenSidebarToggle Click="@(() => _sidebar2Expanded = !_sidebar2Expanded)"/>
                    <RadzenLabel Text="@Title"/>
                </RadzenStack>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@_sidebar2Expanded">

                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Dash" Icon="home" Path="/"/>
                    <RadzenPanelMenuItem Text="Features" Icon="folder">
                        <RadzenPanelMenuItem Text="Feature 1" Path="Features/1"/>
                        <RadzenPanelMenuItem Text="Feature 2" Path="Features/2"/>
                        <RadzenPanelMenuItem Text="Feature 3" Path="Features/3"/>
                        <RadzenPanelMenuItem Text="Feature 4" Path="Features/4"/>
                        <RadzenPanelMenuItem Text="Feature 5" Path="Features/5"/>
                        <RadzenPanelMenuItem Text="Feature 6" Path="Features/6"/>
                        <RadzenPanelMenuItem Text="Feature 7" Path="Features/7"/>
                        <RadzenPanelMenuItem Text="Feature 8" Path="Features/8"/>
                        <RadzenPanelMenuItem Text="Feature 9" Path="Features/9"/>
                    </RadzenPanelMenuItem>
                </RadzenPanelMenu>

            </RadzenSidebar>
            <RadzenBody>
                <div class="rz-p-4">
                    <!-- Radzen defined but not loading -->
                    @Body
                </div>
            </RadzenBody>
        </RadzenLayout>
        <RadzenDialog/>
        <RadzenNotification/>
        <RadzenContextMenu/>
        <RadzenTooltip/>

    </main>

</div>


@code
{
        private const string Title = "AutoEMS";
    private bool _sidebar2Expanded;
    private Timer _timer = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _timer = new Timer(2000);
        _timer.Elapsed += async (sender, args) =>
        {
            _sidebar2Expanded = false;
            await InvokeAsync(StateHasChanged);
        };
        _timer.AutoReset = false;
        _timer.Enabled = true;
    }
}